.dialog{
  position: relative;
  margin-top: 0.5em;
}
.dialog img{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  vertical-align: bottom;
}
.dialog a{
  font-size: 20px;
  letter-spacing: 0.07em;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
.dialog a::before{
  content: '';
  bottom: 0;
  position: absolute;
  transform: translateY(-2px);
  height: 2px;
  width: 100%;
  background-color: rgb(0, 255, 238);
  opacity: 0;
  transition: all .2s ease;
}
.dialog a.active{
  color: rgb(0, 255, 238);
}
.dialog a.active::before{
  opacity: 1;
  transform: translateY(2px);
}

.dialog a.active{
  color: rgb(0, 255, 238);
}
