.friendsItem{
  width: 33.333333333%;
  overflow: hidden;
}
.friendsItem img{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.friendsItem p {
  color: rgba(0, 0, 238);
  font-weight: 500;
  text-transform: none;
  font-size: 15px;
}