.header{
  grid-area: header;
  background-color: rgb(195, 135, 239);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.Logo img{
  width: 60px;
  margin-left: 10px;
}
.loginblock{
  margin-right: 1em;
  margin-top: 1em;
}
.loginblock a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3px;
}
.loginblock{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3px;
}